td{
  padding-right: 2% !important;
  width: 150px;
  /*order: 10px solid #b50811;*/
}
button{
  background: #b50811;
  color: white !important;
  padding: 0px!important;
  width: 100% !important;
}
input{
  width: 100% !important;
  height: 40px !important;

}
